* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style the container for the range, function type, year, and month fields */
#input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  
  #range,
  #function-type,
  #year {
    flex-basis: 30%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #444444;
    margin-right: 20px;
  }
  
  #month-label {
    flex-basis: 10%;
    padding: 8px;
    font-size: 16px;
    color: #444444;
    margin-right: 20px;
  }
  
  #month {
    flex-basis: 15%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #444444;
  }
  
  
  /* Style the return button */
  button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #008cba;
    color: #ffffff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #00677f;
  }
  

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0;
}

#income-trend-plot {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
input[type="submit"]:hover, button:hover {
    background-color: #0058a5;
}